*{
	margin: 0%;
}
.parent{
	display: flex;
	margin-left:  25%;
    margin-top: 5%;
  }
  .right-side-block{
  	width: 28%;
  }
  .login{
  	border: solid rgba(0,0,0,0.2);
  	text-align: center;
  	padding: 8% 0%;
  }
  .login *{
  	   margin-bottom: 2%;
  }
  .title{
  	font-size: 2.5rem;
  	font-family: Lobster;
  }
  .login input{
  	width: 80%;
  	padding: 2%;
  	margin-bottom: 2%;
  }
  .log{
  	background-color: #4db5f9;
  	padding: 1.4%;
  	margin-left: 8%;
  	width: 81%;
  	border-radius: 5px;
  	color: white;
  	font-weight: bold;
  }
  hr{
  	width: 35%;
  	margin: 0% 3%;
  	display: inline-block;
  }
  .log-fb a{
  	color: #5c719b;
  	text-decoration: none;
  }
  .forget a{
  	color: #054284;
  	text-decoration: none;
  }
  .signup{
  	border: thin solid rgba(13, 172, 234, 0.2);
  	margin-top: 3%;
  	padding: 5% 3%;
  	text-align: center;
  }
  .app-store{
  	text-align: center;
  	margin-top: 8%;
  }